@@include("../../templates/header.html", {
  "titlePage": "Index"
})

<!-- body -->
<style>
  :root {

    --padlrec: calc(((100vw - 1140px) / 2) + 15px);
  }
  .tr {
    padding-left: var(--padl, var(--padlrec));
  }

  .tr div {
    background-color: #555555;
    height: 200px;
  }

  .lu {
    width: 300px;
    display: none;
  }

  .alignfullt {
    margin-left  : calc( -100vw / 2 + 100% / 2 );
    margin-right : calc( -100vw / 2 + 100% / 2 );
    max-width    : 100vw;

    background-color: #555555;
    height: 200px;
  }
</style>
<div class="container pt-5">

  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias architecto, at deserunt dolor dolorem dolorum earum eligendi ex fugit inventore laudantium minus mollitia nam, optio quam quibusdam ut, voluptatem?

</div>

<div class="tr">
  <div></div>
</div>

<div class="lu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aspernatur commodi consectetur culpa cum necessitatibus non, quae quos sequi? A cupiditate dicta dolorum ducimus facere nihil odit officiis tempora voluptas, voluptatem. Alias aperiam aut cupiditate deleniti deserunt dignissimos distinctio enim esse id, illum itaque laudantium libero magnam minima minus nam nesciunt nihil nostrum numquam qui quod repellat repellendus rerum similique sit ullam unde ut veniam, veritatis voluptatum. Blanditiis deleniti facere illum officiis tempore. Aliquam deserunt ducimus eaque illo minus nesciunt nostrum, praesentium provident quae quis quo repellendus reprehenderit sit suscipit vel. Animi consectetur dignissimos dolore esse exercitationem fugiat id ipsam iste labore laboriosam laudantium nemo optio quis, quisquam, quod recusandae ut! A amet at autem beatae cum cupiditate dolorem ducimus est excepturi fugit impedit ipsum itaque, labore laborum nobis numquam, optio perspiciatis quas quidem ratione sit vero voluptatem! Accusantium eveniet exercitationem officiis. Ab aut est laborum quaerat quod ratione voluptate.</div>


<!-- /body -->

@@include("../../templates/footer.html")